<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-author">
        By {{p.author}}
    </div>

    <div class="post-date">
      {% if p.created.strftime("%I:%M %p, %b %d, %Y") ==
            p.last_modified.strftime("%I:%M %p, %b %d, %Y") %}
        created at {{p.created.strftime("%I:%M %p, %b %d, %Y")}}
      {% else %}
        last modified at {{p.last_modified.strftime("%I:%M %p, %b %d, %Y")}}
      {% endif %}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

</div>
